@model IEnumerable<User>
<style>
    <link rel="stylesheet" href="https//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
</style>

<div class="row">
    <div class="col-md-12">
        <h1>Role List</h1>
        <hr>
        <a href="/admin/role/create" class="btn btn-primary btn-sm">Create User</a>
        <table id="myTable" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 130px;">FirstName</td>
                    <td style="width: 200px;">LastName</td>
                    <td>UserName</td>
                    <td>Email</td>
                     <td>Email Confirmed</td>
                    
                </tr>
            </thead>

            <tbody>
               @if (Model.Count()>0)
               {
                    @foreach (var item in Model)
                  {
                    <tr class="@(item.EmailConfirmed?"":"bg-warning")">
                        <td>@item.FirstName</td>
                       
                        <td>@item.LastName</td>
                         <td>@item.LastName</td>
                         <td>@item.UserName</td>
                         <td>@item.Email</td>
                          <td>@item.EmailConfirmed</td>
                       
                         
                   
                        <td>
                            <a href="/admin/user/@item.Id" class="btn btn-primary btn-sm mr-2">Edit</a>
                             <form style="display: inline;" action="/admin/user/delete">
                                   <input type="hidden" name="RoleId" value="@item.Id">
                                   <button type="submit" class="btn btn-danger btn-sm ">Delete</button>
                             </form>
                            
                        </td>
                    </tr>
                  }
                }else{
                    <div class="alert alert-warning">
                        <h3>No users</h3>
                    </div>
                }
                
               
            </tbody>
        </table>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    
    <script src="https//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    
   <script>
        $(document).ready(function () 
        {
           $('#myTable').DataTable();
        });
   </script>
